/*
    Webpage Color Palette Customization:
    - #343945
    - #53535A
    - #8C6862
    - #C5A392
    - #FBC8BD

    Another Set of Color Palette
    - F6F2F4
    - 39D570
    - 5BA9AF
    - 7A6E58
    - 22202D

    Font used:
    - Helvetica
    - 
*/

/* General CSS formats for each HTML element */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #FFFFFF;
    scroll-behavior: smooth;
    background-color: #343945;
}

.container {
    margin: 20px auto;
    padding: 20px auto;
    max-width: 1000px;
}

section {
    margin: 50px 20px;
    display: flex;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

a {
    color: #FBC8BD;
}

/** Navigation bar **/

.navbar {
    background-color: #343945;
    padding: 10px 20px;
    display: flex;
}

.index-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 10px;
}

.index-link:hover {
    background-color: #575757;
    border-radius: 5px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    padding: 10px 20px;
}

.nav-link:hover {
    background-color: #575757;
    border-radius: 5px;
}

.nav-item {
    margin: 10px 20px;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    border-radius: 2px;
}

@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .menu-icon {
        display: flex;
    }
    
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #343945;
    }

    #menu-toggle:checked ~ .nav-list {
        display: flex;
    }
    
    .nav-item {
        margin-left: 0;
    }

    .nav-link {
        padding: 15px;
    }
}

hr {
    margin: 0 20px;
}

/** Home/Index section **/

/* About me */

#about-me {
    padding: 0 20px;
}

/* Experience section */

#exp {
    margin: 20px;
    display: block;
}

/* Resume Section */

#resume {
    margin: 20px;
}

.button-resume {
    margin: 0 10px;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 0.5rem 0.8rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    touch-action: manipulation;
}

.button-resume:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-resume {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/** footer section **/

/* nav-footer section */

.content-footer {
    text-align: center;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* contact Section */

#contact {
    margin: 0px 20px 0px;
}

#contact-link {
    display: flex;
    justify-content: center;
    margin: 10px 10px 0;
}

#contant-link a {
    display: block;
}

#contact-link a img {
    height: 50px;
    margin: 0 20px 0;
}
