/*
    Color Pallete Customization:
    - #343945
    - #53535A
    - #8C6862
    - #C5A392
    - #FBC8BD

    Font used:
    - Helvetica
    - 
*/

/* General CSS formats for each HTML element */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #FFF;
    scroll-behavior: smooth;
    background-color: #343945;
}

.container {
    margin: 20px;
    padding: 20px 100px;
}

section {
    display: flex;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.7rem;
}

p {
    font-size: 1.2rem;
}

a {
    color: #C5A392;
}


/* Navigation bar */

nav {
    height: 64px;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 10px;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #FBC8BD;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #FBC8BD;
}

#title {
    font-size: 1.8rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #FBC8BD;
    font-weight: 700;
}


/* Home section */

#about-me {
    padding: 20px;
}

#contact {
    padding: 20px;
}

.contact-link {
    margin: 20px;
    align-items: center;
}

.contact-link a {
    padding: 20px;
}

.contact-link a img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* Experience section */

#experience {
    margin: 10px;
    padding: 10px;
}


/* Resources section */

#resource {
    margin: 10px;
    padding: 10px;
}


/* More section */

#more {
    margin: 10px;
    padding: 10px;
}

/* footer section */

.nav-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}